%%* meta タグ書き換え *%%
<input type="hidden" name="metaTitle" value="%% $SITE_NAME %% | デザイン代行">
<input type="hidden" name="metaKeywords" value="デザイン代行,%% $metaKeywordsMin %%">
<input type="hidden" name="metaDescription" value="パンフレット・チラシ・POP・メニュー表などの販促・集客効果のあるデザインの作成を承っております。">

%%* ヘッダーバナー *%%
<div>%%* この div は重要なので削除しないこと！ *%%
    <div class="page-head-img" style="height: 40vh;">
        <div class="boxImage h-short" style="background-image: url('/images/service/design/design_banner_head.jpg'); background-position: center center;">
            <div class="boxText">
            </div>
        </div>
    </div>
</div>

<div id="main">

    %%* パンくずリスト *%%
    %% assign var=pageList value=['トップ' => "$SITE_URL",'サービス一覧' => "/Service", 'デザイン代行' => ''] %%
    %% include file="Master/BreadCrumb.htm" pageList=$pageList %%

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="title-page">デザイン代行</h1>
                <p></p>

                <section>
                    <div class="row box-service">
                        <div class="col-md-6" data-anijs="if: scroll, on:window, do: fadeInLeft animated, before: scrollReveal">
                            <figure class="d-flex align-items-center justify-content-center">
                                <img src="/images/service/design/design.jpg"
                                     class="w-75" alt="デザイン代行"></figure>
                        </div>
                        <div class="col-md-6" data-anijs="if: scroll, on:window, do: fadeInRight animated, before: scrollReveal">
                            <p class="detail">
                                %%* 株式会社アグリスGQのサービスらしい *%%
                                コストと使いやすさ重視、お手軽にチラシなどのデザインが作成できる！<br>
                                パンフレット・チラシ・POP・メニュー表などの販促・集客効果のあるデザインの作成を承っております。<br>
                                片面5,000円と格安でお受け致しております。 詳しくはココナラ (coconala.com）の公式サイトをご覧ください。<br>
                            </p>
                            <p><a href="https://coconala.com/services/1458263"
                                  class="btn btn-primary" target="_blank">ココナラへ</a></p>
                        </div>
                    </div>
                </section>

                <p><a href="/Contact/Contact" class="btn-lg btn-block btn-primary text-center">問い合わせる</a></p>

            </div>
        </div>
    </div>
</div>





