%%* meta タグ書き換え *%%
<input type="hidden" name="metaTitle" value="%% $SITE_NAME %% | 冷凍焼き付けうなぎ">
<input type="hidden" name="metaKeywords" value="冷凍焼き付けうなぎ,%% $metaKeywordsMin %%">
%%*<input type="hidden" name="metaDescription" value="冷凍焼き付けうなぎ">*%%

%%* ヘッダーバナー *%%
<div>%%* この div は重要なので削除しないこと！ *%%
    <div class="page-head-img" style="height: 40vh;">
        <div class="boxImage h-short" style="background-image: url('/images/service/goods/frozen_eel/eel_banner_head.jpg'); background-position: center center;">
            <div class="boxText">
            </div>
        </div>
    </div>
</div>

<div id="main">

    %%* パンくずリスト *%%
    %% assign var=pageList value=['トップ' => "$SITE_URL", 'サービス一覧' => "/Service", 'エコ商品販売' => "/Service/Goods", '冷凍焼き付けうなぎ' => ''] %%
    %% include file="Master/BreadCrumb.htm" pageList=$pageList %%

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="title-page">冷凍焼き付けうなぎ</h1>

                %%*<figure class="d-flex align-items-center justify-content-center mb-5">
                    <img src="/images/service/goods/frozen_eel/frozen_eel.jpg"
                         class="w-75" style="max-width: 400px;" alt="冷凍焼き付けうなぎ"></figure>
                <div class="vspace50"></div>*%%

                <section>

                    %%* 画像1 *%%
                    <div class="row box-service">
                        <div class="col-md-6" data-anijs="if: scroll, on:window, do: fadeInLeft animated, before: scrollReveal">
                            <figure class="d-flex align-items-center justify-content-center">
                                <img src="/images/service/goods/frozen_eel/eel1.jpg"
                                     class="w-75" alt="XXXXXXXXXXXXXXX"></figure>
                        </div>
                        <div class="col-md-6" data-anijs="if: scroll, on:window, do: fadeInRight animated, before: scrollReveal">
                            <h2 class="title-sub">XXXXXXXXXXXXXXX</h2>
                            <p class="detail">
                                テキスト テキスト テキスト テキスト テキスト テキスト テキスト 。
                            </p>
                        </div>
                    </div>

                    %%* 画像2 *%%
                    <div class="row box-service">
                        <div class="col-md-6" data-anijs="if: scroll, on:window, do: fadeInLeft animated, before: scrollReveal">
                            <figure class="d-flex align-items-center justify-content-center">
                                <img src="/images/service/goods/frozen_eel/eel2.jpg"
                                     class="w-75" alt="XXXXXXXXXXXXXXX"></figure>
                        </div>
                        <div class="col-md-6" data-anijs="if: scroll, on:window, do: fadeInRight animated, before: scrollReveal">
                            <h2 class="title-sub">XXXXXXXXXXXXXXX</h2>
                            <p class="detail">
                                テキスト テキスト テキスト テキスト テキスト テキスト テキスト 。
                            </p>
                        </div>
                    </div>

                    %%* 画像3 *%%
                    <div class="row box-service">
                        <div class="col-md-6" data-anijs="if: scroll, on:window, do: fadeInLeft animated, before: scrollReveal">
                            <figure class="d-flex align-items-center justify-content-center">
                                <img src="/images/service/goods/frozen_eel/eel3.jpg"
                                     class="w-75" alt="XXXXXXXXXXXXXXX"></figure>
                        </div>
                        <div class="col-md-6" data-anijs="if: scroll, on:window, do: fadeInRight animated, before: scrollReveal">
                            <h2 class="title-sub">XXXXXXXXXXXXXXX</h2>
                            <p class="detail">
                                テキスト テキスト テキスト テキスト テキスト テキスト テキスト 。
                            </p>
                        </div>
                    </div>

                    %%* 画像4 *%%
                    <div class="row box-service">
                        <div class="col-md-6" data-anijs="if: scroll, on:window, do: fadeInLeft animated, before: scrollReveal">
                            <figure class="d-flex align-items-center justify-content-center">
                                <img src="/images/service/goods/frozen_eel/eel4.jpg"
                                     class="w-75" alt="XXXXXXXXXXXXXXX"></figure>
                        </div>
                        <div class="col-md-6" data-anijs="if: scroll, on:window, do: fadeInRight animated, before: scrollReveal">
                            <h2 class="title-sub">XXXXXXXXXXXXXXX</h2>
                            <p class="detail">
                                テキスト テキスト テキスト テキスト テキスト テキスト テキスト 。
                            </p>
                        </div>
                    </div>

                    %%* 画像5 *%%
                    <div class="row box-service">
                        <div class="col-md-6" data-anijs="if: scroll, on:window, do: fadeInLeft animated, before: scrollReveal">
                            <figure class="d-flex align-items-center justify-content-center">
                                <img src="/images/service/goods/frozen_eel/eel5.jpg"
                                     class="w-75" alt="XXXXXXXXXXXXXXX"></figure>
                        </div>
                        <div class="col-md-6" data-anijs="if: scroll, on:window, do: fadeInRight animated, before: scrollReveal">
                            <h2 class="title-sub">XXXXXXXXXXXXXXX</h2>
                            <p class="detail">
                                テキスト テキスト テキスト テキスト テキスト テキスト テキスト 。
                            </p>
                        </div>
                    </div>

                    %%* 画像6 *%%
                    <div class="row box-service">
                        <div class="col-md-6" data-anijs="if: scroll, on:window, do: fadeInLeft animated, before: scrollReveal">
                            <figure class="d-flex align-items-center justify-content-center">
                                <img src="/images/service/goods/frozen_eel/eel6.jpg"
                                     class="w-75" alt="XXXXXXXXXXXXXXX"></figure>
                        </div>
                        <div class="col-md-6" data-anijs="if: scroll, on:window, do: fadeInRight animated, before: scrollReveal">
                            <h2 class="title-sub">XXXXXXXXXXXXXXX</h2>
                            <p class="detail">
                                テキスト テキスト テキスト テキスト テキスト テキスト テキスト 。
                            </p>
                        </div>
                    </div>

                </section>

                %%*<p><a href="/Contact/Contact" class="btn-lg btn-block btn-primary text-center">問い合わせる</a></p>*%%

            </div>
        </div>
    </div>
</div>





