%%* meta タグ書き換え *%%
<input type="hidden" name="metaTitle" value="%% $SITE_NAME %% | エコ商品販売">
<input type="hidden" name="metaKeywords" value="エコ商品販売,%% $metaKeywordsMin %%">
<input type="hidden" name="metaDescription" value="NASA公認 空気浄化装置や除菌・脱臭機など、エコにこだわった商品を販売しています。">

%%* ヘッダーバナー *%%
<div>%%* この div は重要なので削除しないこと！ *%%
    <div class="page-head-img" style="height: 40vh;">
        <div class="boxImage h-short" style="background-image: url('/images/top/banner_head4.jpg'); background-position: center 75%;">
            <div class="boxText">
            </div>
        </div>
    </div>
</div>

<div id="main">

    %%* パンくずリスト *%%
    %% assign var=pageList value=['トップ' => "$SITE_URL", 'サービス一覧' => "/Service", 'エコ商品販売' => ''] %%
    %% include file="Master/BreadCrumb.htm" pageList=$pageList %%

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="title-page">エコ商品販売</h1>
                <p>NASA公認 空気浄化装置や除菌・脱臭機など、エコにこだわった商品を販売しています。</p>

                <section>
                    <div class="box-service-detail">

                        %%* レスパー *%%
                        <div class="title-line-left">NASA公認 空気浄化装置ReSPR(レスパー)</div>
                        <p>世界で今最も注目されている【安心】【安全】【健康】を守る世界初の除菌システムを搭載した
                            画期的な空気浄化装置。世界28ヶ国720万台を超える導入実績を持ち、
                            各国の空港や官庁、介護施設、学校、病院内の手術室など規模や業種、
                            業界を問わず様々な施設で運用をされています。
                        </p>
                        <p><a href="/Service/Respr" class="btn btn-primary">
                                <i class="fas fa-chevron-circle-right"></i> 詳しい情報はこちら</a></p>
                        <div class="d-flex align-items-center justify-content-center my-5 anime_slideto_top"
                             data-anijs="if: scroll, on:window, do: fadeInUp animated, before: scrollReveal">
                            <iframe width="400" height="300" src="https://www.youtube.com/embed/fWnA8Ufe-nY"
                                    frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen=""></iframe>
                        </div>

                        %%* ターンドケイ *%%
                        <div class="title-line-left">世界に誇る光触媒技術 除菌・脱臭機ターンドケイ</div>
                        <p>業界初の吸着フィルターを使用しない光触媒のみでの除菌・脱臭が可能なデバイスが誕生しました。
                            世界で初めて光触媒技術で空気中の新型コロナウイルスを検出限界以下まで消失させる実験を実証済みです。</p>
                        <p><a href="/Service/Turnedk" class="btn btn-primary">
                                <i class="fas fa-chevron-circle-right"></i> 詳しい情報はこちら</a></p>
                        <div class="d-flex align-items-center justify-content-center my-5"
                             data-anijs="if: scroll, on:window, do: fadeInUp animated, before: scrollReveal">
                            <figure class="text-center">
                                <img src="/images/service/goods/turnedk/turnedk.jpg" class="w-50" alt="世界に誇る光触媒技術 除菌・脱臭機ターンドケイ">
                            </figure>
                        </div>

                        %%* 冷凍焼き付けうなぎ *%%
                        <div class="title-line-left">冷凍焼き付けうなぎ</div>
                        <p>テキスト テキスト テキスト テキスト テキスト テキスト テキスト テキスト </p>
                        <p><a href="/Service/FrozenEel" class="btn btn-primary">
                                <i class="fas fa-chevron-circle-right"></i> 詳しい情報はこちら</a></p>
                        <div class="d-flex align-items-center justify-content-center my-5"
                             data-anijs="if: scroll, on:window, do: fadeInUp animated, before: scrollReveal">
                            <figure class="text-center">
                                <img src="/images/service/goods/frozen_eel/frozen_eel.jpg" class="w-50" alt="冷凍焼き付けうなぎ">
                            </figure>
                        </div>

                        %%* 冷凍焼き付けうなぎ *%%
                        <div class="title-line-left">冷凍アボカド</div>
                        <p>テキスト テキスト テキスト テキスト テキスト テキスト テキスト テキスト </p>
                        <p><a href="/Service/FrozenAvocado" class="btn btn-primary">
                                <i class="fas fa-chevron-circle-right"></i> 詳しい情報はこちら</a></p>
                        <div class="d-flex align-items-center justify-content-center my-5"
                             data-anijs="if: scroll, on:window, do: fadeInUp animated, before: scrollReveal">
                            <figure class="text-center">
                                <img src="/images/service/goods/frozen_avocado/frozen_avocado.jpg" class="w-50" alt="冷凍焼き付けうなぎ">
                            </figure>
                        </div>

                    </div>
                </section>
                <div class="vspace50"></div>

                <p><a href="/Contact/Contact" class="btn-lg btn-block btn-primary text-center">問い合わせる</a></p>

            </div>
        </div>
    </div>
</div>





