%%* meta タグ書き換え *%%
<input type="hidden" name="metaTitle" value="%% $SITE_NAME %% | 保険活用">
<input type="hidden" name="metaKeywords" value="保険活用,家の修繕・修復,全額補償金,%% $metaKeywordsMin %%">
<input type="hidden" name="metaDescription" value="火災保険・生命保険についての導入サポートを行っています。実は火災保険で家の修繕・修復が全額補償金でできる場合があります。">

%%* ヘッダーバナー *%%
<div>%%* この div は重要なので削除しないこと！ *%%
    <div class="page-head-img" style="height: 40vh;">
        <div class="boxImage h-short" style="background-image: url('/images/service/insurance/insurance_banner_head.jpg'); background-position: center bottom;">
            <div class="boxText">
            </div>
        </div>
    </div>
</div>

<div id="main">

    %%* パンくずリスト *%%
    %% assign var=pageList value=['トップ' => "$SITE_URL", 'サービス一覧' => "/Service", '保険活用' => ''] %%
    %% include file="Master/BreadCrumb.htm" pageList=$pageList %%

    <div class="container">

        <div class="row">
            <div class="col-md-12">

                <h1 class="title-page">保険活用</h1>
                <p>当社がサポートを行っている保険についての紹介です。
                    現在サポートを行っているのは火災保険と生命保険の2種類になります。</p>


                <section>
                    <div class="box-service-detail mb-5">

                        <h2 class="title-sub-box" id="job">火災保険</h2>
                        <p>自費で修繕する前にご相談ください！保険のプロが手助け致します！</p>
                        <p>火災保険は火事や火災の被害にあった時しか使えない保険だと思っていませんか？
                            <span class="text-danger">実は火災保険で家の修繕・修復が全額補償金でできる場合があります。</span>
                            火災保険とは火災だけではなく様々な災害による損害を補填する損害保険です。
                            火災はもちろん、<span class="text-danger">落雷や風災、窃盗などの災害</span>に対しても幅広く補償を行っています。
                            しかし台風などで外壁に傷がついてしまったが小さい傷だから大丈夫だろうという風に放置してしまうと
                            自然災害が原因でついた傷などでも後に経年劣化として扱われてしまい、保険の対象に入らなくなります。
                            つまり自己負担で修繕を行わなければいけなくなってしまうのです。
                            あの時ちゃんとしていれば…そういった「きちんと理解していれば受け取れるはずのもの」をなくし、
                            正しく運用していくための手助けを致します。
                        </p>

                        <div class="d-flex align-items-center justify-content-center my-5"
                             data-anijs="if: scroll, on:window, do: fadeInUp animated, before: scrollReveal">
                            <figure class="text-center">
                                <img src="/images/service/insurance/kasai_hoken.jpg" class="w-75" alt="火災保険">
                            </figure>
                        </div>

                        %%* 対象となる損害の例 *%%
                        <h2 class="title-sub">対象となる損害の例</h2>
                        <div class="row box-service mb-5">

                            %%* 落雷での損害 *%%
                            <div class="col-md-6 mb-3" data-anijs="if: scroll, on:window, do: fadeInLeft animated, before: scrollReveal">
                                <figure class="d-flex align-items-center justify-content-center">
                                    <img src="/images/service/insurance/kasai1.jpg"
                                         class="w-50" alt="火災保険"></figure>
                            </div>
                            <div class="col-md-6" data-anijs="if: scroll, on:window, do: fadeInRight animated, before: scrollReveal">
                                <div class="title-line-left">落雷での損害</div>
                                <p>雷が落ちて屋根が破損した、落雷の影響で電化製品が壊れた等</p>
                            </div>

                            %%* 爆発・破裂での損害 *%%
                            <div class="col-md-6 mb-3" data-anijs="if: scroll, on:window, do: fadeInLeft animated, before: scrollReveal">
                                <figure class="d-flex align-items-center justify-content-center">
                                    <img src="/images/service/insurance/kasai2.jpg"
                                         class="w-50" alt="爆発・破裂での損害"></figure>
                            </div>
                            <div class="col-md-6" data-anijs="if: scroll, on:window, do: fadeInRight animated, before: scrollReveal">
                                <div class="title-line-left">爆発・破裂での損害</div>
                                <p>プロパンガスなどのバク圧事故で建物が破壊した、ガス給湯器が爆発して浴槽が破壊した等</p>
                            </div>

                            %%* 風災、雪災、雹災による損害 *%%
                            <div class="col-md-6 mb-5" data-anijs="if: scroll, on:window, do: fadeInLeft animated, before: scrollReveal">
                                <figure class="d-flex align-items-center justify-content-center">
                                    <img src="/images/service/insurance/kasai3.jpg"
                                         class="w-50" alt="風災、雪災、雹災による損害"></figure>
                            </div>
                            <div class="col-md-6" data-anijs="if: scroll, on:window, do: fadeInRight animated, before: scrollReveal">
                                <div class="title-line-left">風災、雪災、雹災による損害</div>
                                <p>台風で屋根が飛んだ、暴風雨で壁が傷んだ、雹が降って屋根が破損、
                                    強風で物が当たって壁が破損、積もった雪の重さで屋根が潰れた等</p>
                            </div>

                            %%* 水災による損害 *%%
                            <div class="col-md-6" data-anijs="if: scroll, on:window, do: fadeInRight animated, before: scrollReveal">
                                <div class="title-line-left">水災による損害</div>
                                <p>大雨洪水による浸水、高潮による洪水・浸水、大雨による土砂崩れ等<br>
                                    (河川の氾濫や集中豪雨による床下浸水などの被害や損害については火災保険の契約内容によって異なります。)</p>
                            </div>
                            <div class="col-md-6 mb-3" data-anijs="if: scroll, on:window, do: fadeInLeft animated, before: scrollReveal">
                                <figure class="d-flex align-items-center justify-content-center">
                                    <img src="/images/service/insurance/kasai4.jpg"
                                         class="w-50" alt="水災による損害"></figure>
                            </div>

                            %%* XXXXXXXXXX *%%
                            <div class="col-md-6" data-anijs="if: scroll, on:window, do: fadeInRight animated, before: scrollReveal">
                                <div class="title-line-left">漏水による損害</div>
                                <p>排水溝が詰まって排水が溢れる、洗濯機が詰まって水が溢れる等</p>
                            </div>
                            <div class="col-md-6 mb-3" data-anijs="if: scroll, on:window, do: fadeInLeft animated, before: scrollReveal">
                                <figure class="d-flex align-items-center justify-content-center">
                                    <img src="/images/service/insurance/kasai5.jpg"
                                         class="w-50" alt="漏水による損害"></figure>
                            </div>

                            %%* 外部要因・他人の故意による損傷 *%%
                            <div class="col-md-6" data-anijs="if: scroll, on:window, do: fadeInRight animated, before: scrollReveal">
                                <div class="title-line-left">外部要因・他人の故意による損傷</div>
                                <p>車が建物に衝突し破損した、空から物が降ってきて屋根が破損した
                                    酔った人が扉を蹴ったりして壊した、空き巣に入られて物を盗まれた等</p>
                            </div>
                            <div class="col-md-6 mb-3" data-anijs="if: scroll, on:window, do: fadeInLeft animated, before: scrollReveal">
                                <figure class="d-flex align-items-center justify-content-center">
                                    <img src="/images/service/insurance/kasai6.jpg"
                                         class="w-50" alt="外部要因・他人の故意による損傷"></figure>
                            </div>

                        </div>

                        %%* 実際に火災保険が適用された例 *%%
                        <h2 class="title-sub mb-5">実際に火災保険が適用された例</h2>
                        <div class="row box-service mb-5">

                            %%* 水漏れによる損害 *%%
                            <div class="col-md-6 mb-3" data-anijs="if: scroll, on:window, do: fadeInLeft animated, before: scrollReveal">
                                <figure class="d-flex align-items-center justify-content-center">
                                    <img src="/images/service/insurance/kasai7.jpg"
                                         class="w-50" alt="水漏れによる損害"></figure>
                            </div>
                            <div class="col-md-6" data-anijs="if: scroll, on:window, do: fadeInRight animated, before: scrollReveal">
                                <div class="title-line-left">水漏れによる損害</div>
                                <p>突然自宅のトイレの配水管が壊れて水漏れを起こしてしまった。
                                    調べたところ修理にかかる費用は10万円程かかるとのことだったが、
                                    火災保険を使用し、修理費と同じ10万円の金額が補償された。</p>
                            </div>

                            %%* 防水パンの損害 *%%
                            <div class="col-md-6 mb-3" data-anijs="if: scroll, on:window, do: fadeInLeft animated, before: scrollReveal">
                                <figure class="d-flex align-items-center justify-content-center">
                                    <img src="/images/service/insurance/kasai8.jpg"
                                         class="w-50" alt="防水パンの損害"></figure>
                            </div>
                            <div class="col-md-6" data-anijs="if: scroll, on:window, do: fadeInRight animated, before: scrollReveal">
                                <div class="title-line-left">防水パンの損害</div>
                                <p>洗濯機を使用しようとしたところ、洗濯機周辺の床が浸水していた。
                                    原因を調べたところ排水溝の目詰まりで防水パンが破損し、排水が漏れ出ていたとのこと。
                                    床の張替えなどが必要になり修繕費用は65万円ほどかかるとのことだったが、
                                    火災保険を使用して90万円が補償された。</p>
                            </div>

                            %%* 盗難の被害 *%%
                            <div class="col-md-6 mb-3" data-anijs="if: scroll, on:window, do: fadeInLeft animated, before: scrollReveal">
                                <figure class="d-flex align-items-center justify-content-center">
                                    <img src="/images/service/insurance/kasai9.jpg"
                                         class="w-50" alt="盗難の被害"></figure>
                            </div>
                            <div class="col-md-6" data-anijs="if: scroll, on:window, do: fadeInRight animated, before: scrollReveal">
                                <div class="title-line-left">盗難の被害</div>
                                <p>家に帰ると閉めたはずの玄関の鍵が開いており、不審に思いながら家に入るとタンスや物置が荒らされており、
                                    金品や指輪などが盗まれていた。被害総額は15万円に上ったが火災保険に入っていたので
                                    被害額と同じ15万円の補償があった。</p>
                            </div>

                        </div>

                        %%* 地震は火災保険の対象外 *%%
                        <h2 class="title-sub">地震は火災保険の対象外</h2>

                        <p>地震による破壊や損害は火災保険の対象外となっています。
                            地震での損害や破壊の場合は火災保険ではなく地震保険が適用されます。
                            地震保険は居住用建物と生活用家財の契約に限られており、
                            また<span class="font-weight-bold">噴火・津波などの災害の補償も地震保険</span>の区分になります。
                            <span class="text-danger">経年劣化による損壊や破壊はどちらの保険にも当てはまりません 。</span></p>

                        %%* 火災保険で起きるトラブル *%%
                        <h2 class="title-sub">火災保険で起きるトラブル</h2>
                        <p>火災保険に関する修工事でのトラブルはたくさんありますがその中でも特に多いのが
                            「自己負担ゼロでリフォームが可能です」という誘い文句です。
                            自己負担ゼロだと言われて契約をしたが結局自己負担させられた、
                            と言うような例や、いつまでも工事が始まらない、契約の解約を申し出たら解約金と称してかなりの額を取られた
                            経年劣化が原因の損害だったが自然災害だと偽って申請を進めるよう勧められた、
                            など様々なトラブルが多く出ています。
                            火災保険で被害にあわないためには依頼する業者をしっかりと見極めることが大切です。
                            そこでぜひ私たちにお任せして頂けたらと思います。お客様のことを第一に考えて、
                            お客様の理想により近い形で実現できるよう心掛けて調査・申請のサポートを行っております。
                            後悔しない、失敗しないリフォームを行うために、ぜひ安心してお任せください！</p>

                        <h2 class="title-sub-box">生命保険</h2>
                        <p>現在準備中です。</p>

                    </div>
                </section>

                <p><a href="/Contact/Contact" class="btn-lg btn-block btn-primary text-center">問い合わせる</a></p>

            </div>
        </div>
    </div>
</div>





