%%* meta タグ書き換え *%%
<input type="hidden" name="metaTitle" value="%% $SITE_NAME %% | メディア運営">
<input type="hidden" name="metaKeywords" value="メディア運営,%% $metaKeywordsMin %%">
<input type="hidden" name="metaDescription" value="「モノ」づくりを頑張っている人たちを応援するためのマッチングサイトや、病気やアレルギーでお悩みの方々のため健康食品のサイトを運営しています。">

%%* ヘッダーバナー *%%
<div>%%* この div は重要なので削除しないこと！ *%%
    <div class="page-head-img" style="height: 40vh;">
        <div class="boxImage h-short"
             style="background-image: url('/images/top/appli3.jpg'); background-position: center center;">
            <div class="boxText">
            </div>
        </div>
    </div>
</div>

<div id="main">

    %%* パンくずリスト *%%
    %% assign var=pageList value=['トップ' => "$SITE_URL", 'サービス一覧' => "/Service", 'メディア運営' => ''] %%
    %% include file="Master/BreadCrumb.htm" pageList=$pageList %%

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="title-page">メディア運営</h1>
                <p>「モノ」づくりを頑張っている人たちを応援するためのマッチングサイトや、
                    病気やアレルギーでお悩みの方々のため健康食品のサイトを運営しています。</p>

                <section>

                    %%* モノづくりDB *%%
                    <div class="row box-service">
                        <div class="col-md-6" data-anijs="if: scroll, on:window, do: fadeInLeft animated, before: scrollReveal">
                            <figure class="d-flex align-items-center justify-content-center">
                                <img src="/images/service/media/mono1.jpg"
                                     class="w-75" alt="モノづくりDB"></figure>
                        </div>
                        <div class="col-md-6" data-anijs="if: scroll, on:window, do: fadeInRight animated, before: scrollReveal">
                            <h2 class="title-sub">モノづくりDB</h2>
                            <p class="detail">
                                「モノ」づくりを頑張っている人たちを応援するための自分のアイデアを形にできる、
                                製作工場と発案者とを結ぶマッチングサイトです。
                            </p>
                            <p><a href="https://mono-zukuri.com/" class="btn btn-primary" target="_blank">詳しくみる</a></p>
                        </div>
                    </div>

                    %%* 楽天ショップ 夢的生活工房 *%%
                    <div class="row box-service">
                        <div class="col-md-6" data-anijs="if: scroll, on:window, do: fadeInRight animated, before: scrollReveal">
                            <h2 class="title-sub">楽天ショップ 夢的生活工房</h2>
                            <p class="detail">
                                子供たちやアレルギーなど健康でお悩みの方に！
                                子供たちのため、病気やアレルギーでお悩みの方々のため、
                                健康であり続けて頂きたいと日々研究・開発に力を注いでおります！
                            </p>
                            <p><a href="https://www.rakuten.co.jp/yumeteki/" class="btn btn-primary" target="_blank">詳しくみる</a></p>
                        </div>
                        <div class="col-md-6" data-anijs="if: scroll, on:window, do: fadeInLeft animated, before: scrollReveal">
                            <figure class="d-flex align-items-center justify-content-center">
                                <img src="/images/service/media/bread_shop1.jpg"
                                     class="w-75" alt="楽天ショップ 夢的生活工房"></figure>
                        </div>
                    </div>

                    %%* 久留米ふるさと納税 *%%
                    <div class="row box-service">
                        <div class="col-md-6" data-anijs="if: scroll, on:window, do: fadeInLeft animated, before: scrollReveal">
                            <figure class="d-flex align-items-center justify-content-center">
                                <img src="/images/service/media/furusato1.jpg"
                                     class="w-75" alt="久留米ふるさと納税"></figure>
                        </div>
                        <div class="col-md-6" data-anijs="if: scroll, on:window, do: fadeInRight animated, before: scrollReveal">
                            <h2 class="title-sub">久留米ふるさと納税</h2>
                            <p class="detail">
                                ふるさと納税でも様々な商品を返礼品として扱っています。
                                福岡県久留米市ふるさと納税特設サイトです。
                            </p>
                            <p><a href="https://furusato-kurume.jp/" class="btn btn-primary" target="_blank">詳しくみる</a></p>
                        </div>
                    </div>

                </section>

                <p><a href="/Contact/Contact" class="btn-lg btn-block btn-primary text-center">問い合わせる</a></p>

            </div>
        </div>
    </div>
</div>
