%%* meta タグ書き換え *%%
<input type="hidden" name="metaTitle" value="%% $SITE_NAME %% | NASA公認 空気浄化装置ReSPR（レスパー）">
<input type="hidden" name="metaKeywords" value="NASA公認,空気浄化装置,ReSPR,レスパー,%% $metaKeywordsMin %%">
%%*<input type="hidden" name="metaDescription" value="冷凍アボカド">*%%

%%* ヘッダーバナー *%%
<div>%%* この div は重要なので削除しないこと！ *%%
    <div class="page-head-img" style="height: 40vh;">
        <div class="boxImage h-short" style="background-image: url('/images/service/goods/respr/banner_heaqd_respr2.jpg'); background-position: center bottom;">
            <div class="boxText">
            </div>
        </div>
    </div>
</div>

<div id="main">

    %%* パンくずリスト *%%
    %% assign var=pageList value=['トップ' => "$SITE_URL", 'サービス一覧' => "/Service", 'エコ商品販売' => "/Service/Goods", 'ReSPR（レスパー）' => ''] %%
    %% include file="Master/BreadCrumb.htm" pageList=$pageList %%

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="title-page mb-5">NASA公認 空気浄化装置ReSPR（レスパー）</h1>

                <section>
                    <div class="row box-service mb-5">
                        <div class="col-md-6" data-anijs="if: scroll, on:window, do: fadeInLeft animated, before: scrollReveal">
                            <figure class="d-flex align-items-center justify-content-center">
                                <img src="/images/service/goods/respr/respr1.jpg"
                                     class="w-75" alt="NASA公認 空気浄化装置ReSPR（レスパー）"></figure>
                        </div>
                        <div class="col-md-6" data-anijs="if: scroll, on:window, do: fadeInRight animated, before: scrollReveal">
                            <p class="detail">
                                世界で今最も注目されている【安心】【安全】【健康】を守る世界初の除菌システムを搭載した画期的な空気浄化装置。
                                空気中だけではなく、人が触れるドアノブや手すり、椅子などに付着した有害粒子に直接作用。
                                さらに細菌、ウイルス、カビや花粉だけでなく臭いまでも分解し除去することが可能。
                                接触感染によるバイオテストにおいても高い効果を立証済。<br>
                                <br>
                                世界28ヶ国720万台を超える導入実績を持ち、各国の空港や官庁、介護施設、学校、病院内の手術室など
                                規模や業種、業界を問わず様々な施設で運用をされています。
                            </p>
                        </div>
                    </div>
                </section>

                %%* ReSPR 商品説明動画 *%%
                <section>
                    <div class="video">
                        <iframe src="https://www.youtube.com/embed/fWnA8Ufe-nY?feature=oembed"
                                title="ReSPR - 商品説明動画｜レカム株式会社"
                                frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    </div>
                </section>
                <div class="vspace50"></div>

                <section>
                    <div class="row box-service mt-5">
                        <div class="col-md-6" data-anijs="if: scroll, on:window, do: fadeInLeft animated, before: scrollReveal">
                            <figure class="d-flex align-items-center justify-content-center">
                                <img src="/images/service/goods/respr/respr2.jpg"
                                     class="w-75" alt="ReSPR Technology 社について"></figure>
                        </div>
                        <div class="col-md-6" data-anijs="if: scroll, on:window, do: fadeInRight animated, before: scrollReveal">
                            <p class="detail">
                                テキスト テキスト テキスト テキスト テキスト テキスト<br>
                                テキスト テキスト テキスト テキスト テキスト テキスト<br>
                                テキスト テキスト テキスト テキスト テキスト テキスト<br>
                            </p>
                        </div>
                    </div>
                </section>

                <section>
                    <div class="row box-service">
                        <div class="col-md-6" data-anijs="if: scroll, on:window, do: fadeInLeft animated, before: scrollReveal">
                            <figure class="d-flex align-items-center justify-content-center">
                                <img src="/images/service/goods/respr/respr3.jpg"
                                     class="w-75" alt="★★★★★"></figure>
                        </div>
                        <div class="col-md-6" data-anijs="if: scroll, on:window, do: fadeInRight animated, before: scrollReveal">
                            <p class="detail">
                                テキスト テキスト テキスト テキスト テキスト テキスト<br>
                                テキスト テキスト テキスト テキスト テキスト テキスト<br>
                                テキスト テキスト テキスト テキスト テキスト テキスト<br>
                            </p>
                        </div>
                    </div>
                </section>

                <section>
                    <div class="row box-service">
                        <div class="col-md-6" data-anijs="if: scroll, on:window, do: fadeInLeft animated, before: scrollReveal">
                            <figure class="d-flex align-items-center justify-content-center">
                                <img src="/images/service/goods/respr/respr4.jpg"
                                     class="w-75" alt="★★★★★"></figure>
                        </div>
                        <div class="col-md-6" data-anijs="if: scroll, on:window, do: fadeInRight animated, before: scrollReveal">
                            <p class="detail">
                                テキスト テキスト テキスト テキスト テキスト テキスト<br>
                                テキスト テキスト テキスト テキスト テキスト テキスト<br>
                                テキスト テキスト テキスト テキスト テキスト テキスト<br>
                            </p>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="row box-service">
                        <div class="col-md-6" data-anijs="if: scroll, on:window, do: fadeInLeft animated, before: scrollReveal">
                            <figure class="d-flex align-items-center justify-content-center">
                                <img src="/images/service/goods/respr/respr5.jpg"
                                     class="w-75" alt="★★★★★"></figure>
                        </div>
                        <div class="col-md-6" data-anijs="if: scroll, on:window, do: fadeInRight animated, before: scrollReveal">
                            <p class="detail">
                                テキスト テキスト テキスト テキスト テキスト テキスト<br>
                                テキスト テキスト テキスト テキスト テキスト テキスト<br>
                                テキスト テキスト テキスト テキスト テキスト テキスト<br>
                            </p>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="row box-service">
                        <div class="col-md-6" data-anijs="if: scroll, on:window, do: fadeInLeft animated, before: scrollReveal">
                            <figure class="d-flex align-items-center justify-content-center">
                                <img src="/images/service/goods/respr/respr6.jpg"
                                     class="w-75" alt="★★★★★"></figure>
                        </div>
                        <div class="col-md-6" data-anijs="if: scroll, on:window, do: fadeInRight animated, before: scrollReveal">
                            <p class="detail">
                                テキスト テキスト テキスト テキスト テキスト テキスト<br>
                                テキスト テキスト テキスト テキスト テキスト テキスト<br>
                                テキスト テキスト テキスト テキスト テキスト テキスト<br>
                            </p>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="row box-service">
                        <div class="col-md-6" data-anijs="if: scroll, on:window, do: fadeInLeft animated, before: scrollReveal">
                            <figure class="d-flex align-items-center justify-content-center">
                                <img src="/images/service/goods/respr/respr7.jpg"
                                     class="w-75" alt="★★★★★"></figure>
                        </div>
                        <div class="col-md-6" data-anijs="if: scroll, on:window, do: fadeInRight animated, before: scrollReveal">
                            <p class="detail">
                                テキスト テキスト テキスト テキスト テキスト テキスト<br>
                                テキスト テキスト テキスト テキスト テキスト テキスト<br>
                                テキスト テキスト テキスト テキスト テキスト テキスト<br>
                            </p>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="row box-service">
                        <div class="col-md-6" data-anijs="if: scroll, on:window, do: fadeInLeft animated, before: scrollReveal">
                            <figure class="d-flex align-items-center justify-content-center">
                                <img src="/images/service/goods/respr/respr8.jpg"
                                     class="w-75" alt="★★★★★"></figure>
                        </div>
                        <div class="col-md-6" data-anijs="if: scroll, on:window, do: fadeInRight animated, before: scrollReveal">
                            <p class="detail">
                                テキスト テキスト テキスト テキスト テキスト テキスト<br>
                                テキスト テキスト テキスト テキスト テキスト テキスト<br>
                                テキスト テキスト テキスト テキスト テキスト テキスト<br>
                            </p>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="row box-service">
                        <div class="col-md-6" data-anijs="if: scroll, on:window, do: fadeInLeft animated, before: scrollReveal">
                            <figure class="d-flex align-items-center justify-content-center">
                                <img src="/images/service/goods/respr/respr9.jpg"
                                     class="w-75" alt="★★★★★"></figure>
                        </div>
                        <div class="col-md-6" data-anijs="if: scroll, on:window, do: fadeInRight animated, before: scrollReveal">
                            <p class="detail">
                                テキスト テキスト テキスト テキスト テキスト テキスト<br>
                                テキスト テキスト テキスト テキスト テキスト テキスト<br>
                                テキスト テキスト テキスト テキスト テキスト テキスト<br>
                            </p>
                        </div>
                    </div>
                </section>

                <div class="vspace100"></div>
                <p><a href="/Contact/Contact" class="btn-lg btn-block btn-primary text-center">問い合わせる</a></p>

            </div>
        </div>
    </div>
</div>





