%%* meta タグ書き換え *%%
<input type="hidden" name="metaTitle" value="%% $SITE_NAME %% | 世界に誇る光触媒技術 除菌・脱臭機ターンドケイ">
<input type="hidden" name="metaKeywords" value="ターンドケイ,業界初,吸着フィルター,光触媒,除菌,脱臭,世界初,新型コロナウイルス,共生,withコロナ,感染症克服,SARS-CoV-2,不活性化,不活性化機序">
<input type="hidden" name="metaDescription" value="業界初の吸着フィルターを使用しない光触媒のみでの除菌・脱臭が可能なデバイス - ターンドケイが誕生。世界で初めて光触媒技術で空気中の新型コロナウイルスを検出限界以下まで消失させる実験を実証済みです。">

%%* ヘッダーバナー *%%
<div>%%* この div は重要なので削除しないこと！ *%%
    <div class="page-head-img" style="height: 40vh;">
        <div class="boxImage h-short" style="background-image: url('/images/service/goods/turnedk/turndk_banner_head.jpg'); background-position: center center;">
            <div class="boxText">
            </div>
        </div>
    </div>
</div>

<div id="main">

    %%* パンくずリスト *%%
    %% assign var=pageList value=['トップ' => "$SITE_URL", 'サービス一覧' => "/Service", 'エコ商品販売' => "/Service/Goods", 'ターンドケイ' => ''] %%
    %% include file="Master/BreadCrumb.htm" pageList=$pageList %%

    <div class="container">
            <div class="row">
            <div class="col-md-12">
                <h1 class="title-page mb-5">日本が誇る光触媒技術 ターンドケイ</h1>

                <section>
                    <div class="row box-service">
                        <div class="col-md-6" data-anijs="if: scroll, on:window, do: fadeInLeft animated, before: scrollReveal">
                            <figure class="d-flex align-items-center justify-content-center">
                                <img src="/images/service/goods/turnedk/turnedk1.jpg"
                                     class="w-75" alt="日本が誇る光触媒技術 ターンドケイ"></figure>
                        </div>
                        <div class="col-md-6" data-anijs="if: scroll, on:window, do: fadeInRight animated, before: scrollReveal">
                            <h2 class="title-line-left">わたしの空気は、いつも＂生まれたて＂</h2>
                            <p class="detail">
                                業界初の吸着フィルターを使用しない光触媒のみでの除菌・脱臭が可能なデバイスの誕生となりました。
                                優れた光触媒材料の開発力とその反応率を限界まで向上させる製品開発力により、
                                これまでにない圧倒的なパフォーマンスで除菌・脱臭を実現いたします。
                            </p>
                        </div>
                    </div>
                </section>

                <section>
                    <div class="title-sub">光触媒について</div>
                    <div class="row box-service">
                        <div class="col-md-6" data-anijs="if: scroll, on:window, do: fadeInLeft animated, before: scrollReveal">
                            <figure class="d-flex align-items-center justify-content-center">
                                <img src="/images/service/goods/turnedk/turnedk2.jpg"
                                     class="w-100" alt="光触媒とは"></figure>
                        </div>
                        <div class="col-md-6" data-anijs="if: scroll, on:window, do: fadeInLeft animated, before: scrollReveal">
                            <figure class="d-flex align-items-center justify-content-center">
                                <img src="/images/service/goods/turnedk/turnedk3.jpg"
                                     class="w-100" alt="光触媒の優位性"></figure>
                        </div>
                    </div>

                </section>

                <section>
                    <div class="title-sub">独自の技術について</div>
                    <div class="row box-service">
                        <div class="col-md-6" data-anijs="if: scroll, on:window, do: fadeInLeft animated, before: scrollReveal">
                            <figure class="d-flex align-items-center justify-content-center">
                                <img src="/images/service/goods/turnedk/turnedk4.jpg"
                                     class="w-100" alt="ターンドケイ 独自の技術について1"></figure>
                        </div>
                        <div class="col-md-6" data-anijs="if: scroll, on:window, do: fadeInLeft animated, before: scrollReveal">
                            <figure class="d-flex align-items-center justify-content-center">
                                <img src="/images/service/goods/turnedk/turnedk5.jpg"
                                     class="w-100" alt="ターンドケイ 独自の技術について2"></figure>
                        </div>
                    </div>

                </section>

                <section>
                    <div class="title-sub">世界で初めて光触媒技術で空気中の新型コロナウイルスを
                        検出限界以下まで消失させる実験を実証</div>

                    <p class="wv-font-lg2 font-weight-bold mb-5">新型コロナウイルスと共生する「withコロナ」の社会を
                        実現するための安心できる空間を構築することで
                        新たに発生する恐れのある未知のウイルス感染症克服の道を開く。</p>

                    <div class="row box-service mb-5">
                        <div class="col-md-6" data-anijs="if: scroll, on:window, do: fadeInLeft animated, before: scrollReveal">
                            <figure class="d-flex align-items-center justify-content-center">
                                <img src="/images/service/goods/turnedk/turnedk6.jpg"
                                     class="w-75" alt="光触媒による液体中のSARS-CoV-2の不活性化1"></figure>
                        </div>
                        <div class="col-md-6" data-anijs="if: scroll, on:window, do: fadeInLeft animated, before: scrollReveal">
                            <figure class="d-flex align-items-center justify-content-center">
                                <img src="/images/service/goods/turnedk/turnedk7.jpg"
                                     class="w-75" alt="光触媒による液体中のSARS-CoV-2の不活性化2"></figure>
                        </div>
                    </div>

                    <div class="row box-service">
                        <div class="col-md-6" data-anijs="if: scroll, on:window, do: fadeInLeft animated, before: scrollReveal">
                            <figure class="d-flex align-items-center justify-content-center">
                                <img src="/images/service/goods/turnedk/turnedk8.jpg"
                                     class="w-75" alt="光触媒によるエアロゾル中のSARS-CoV-2の不活性化"></figure>
                        </div>
                        <div class="col-md-6" data-anijs="if: scroll, on:window, do: fadeInRight animated, before: scrollReveal">
                            <h2 class="title-line-left">光触媒による液体中のSARS-CoV-2の不活性化</h2>
                            <p class="detail">
                                光触媒に励起光を120分照射する事で 液体中の感染症は検出限界以下となった。
                            </p>
                            <h2 class="title-line-left">光触媒によるエアロゾル中のSARS-CoV-2の不活性化</h2>
                            <p class="detail">
                                光触媒に励起光を20分間照射することで検出限界以下となった。
                            </p>
                            <h2 class="title-line-left">光触媒によるSARA-CoV-2の不活性化機序</h2>
                            <p class="detail">
                                光触媒が発生する活性酸素がウイルスの粒子表面のSタンパク質の分解や
                                ウイルスRNAを損傷した可能性が一因であることが示唆された。
                            </p>
                        </div>
                    </div>

                </section>

                %%* ターンド・ケイの種類 *%%
                <section>
                    <div class="title-sub">ターンド・ケイの種類</div>
                    <div class="row box-service mb-5">
                        <div class="col-md-6" data-anijs="if: scroll, on:window, do: fadeInLeft animated, before: scrollReveal">
                            <figure class="d-flex align-items-center justify-content-center">
                                <img src="/images/service/goods/turnedk/turnedk.jpg"
                                     class="w-75" alt="ターンド・ケイ 首掛けタイプ"></figure>
                        </div>
                        <div class="col-md-6" data-anijs="if: scroll, on:window, do: fadeInRight animated, before: scrollReveal">
                            <h2 class="title-sub">首掛けタイプ</h2>
                            <p class="detail">
                                寸法/重量：径32×高さ115㎜(本体重量約75ｇ)<br>
                                稼働時間：約8時間<br>
                                充電時間：約4時間(室内温度や環境によって長くなる場合があります)<br>
                                使用温度範囲：0℃以上～40℃未満<br>
                            </p>
                        </div>
                    </div>
                    <div class="row box-service mb-5">
                        <div class="col-md-6" data-anijs="if: scroll, on:window, do: fadeInLeft animated, before: scrollReveal">
                            <figure class="d-flex align-items-center justify-content-center">
                                <img src="/images/service/goods/turnedk/turnedk1.jpg"
                                     class="w-75" alt="ターンド・ケイ 電球タイプ"></figure>
                        </div>
                        <div class="col-md-6" data-anijs="if: scroll, on:window, do: fadeInRight animated, before: scrollReveal">
                            <h2 class="title-sub">電球タイプ</h2>
                            <p class="detail">
                                寸法/重量：径92.5×高さ153㎜(本体重量約340g)<br>
                                適応空間体積：約1畳(4m²)<br>
                                ※当社基準にて、臭気を機にならないレベルまで軽減できる床面積の目安です。<br>
                                全光束：485lm<br>
                                消費電力：最大10W／最小5.4W<br>
                                色温度：2700ｋ<br>
                            </p>
                        </div>
                    </div>
                    <div class="row box-service mb-5">
                        <div class="col-md-6" data-anijs="if: scroll, on:window, do: fadeInLeft animated, before: scrollReveal">
                            <figure class="d-flex align-items-center justify-content-center">
                                <img src="/images/service/goods/turnedk/turnedk9.jpg"
                                     class="w-75" alt="ターンド・ケイ 壁掛けタイプ"></figure>
                        </div>
                        <div class="col-md-6" data-anijs="if: scroll, on:window, do: fadeInRight animated, before: scrollReveal">
                            <h2 class="title-sub">壁掛けタイプ</h2>
                            <p class="detail">
                                寸法/重量：W441×H436×D83㎜(重量約3kg)<br>
                                適応空間体積：約8畳(約37ｍ³)<br>
                                ※当社基準にて臭気を30分で気にならないレベルまで軽減できる床面積の目安です。<br>
                                消費電力：40W(強) ／ 35W(弱) ／ 33W(静音)<br>
                            </p>
                        </div>
                    </div>
                </section>

                <p><a href="/Contact/Contact" class="btn-lg btn-block btn-primary text-center">問い合わせる</a></p>

            </div>
        </div>
    </div>
</div>





