<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=%% $GMAPKEY %%&v=3.exp&sensor=false"></script>

%%* meta タグ書き換え *%%
<input type="hidden" name="metaTitle" value="%% $SITE_NAME %% | 会社概要">
<input type="hidden" name="metaKeywords" value="会社概要,%% $metaKeywordsMin %%">

%%* ヘッダーバナー *%%
<div>%%* この div は重要なので削除しないこと！ *%%
    <div class="page-head-img" style="height: 40vh;">
        <div class="boxImage h-short"
             style="background-image: url('/images/top/office1.jpg');">
            <div class="boxText">
            </div>
        </div>
    </div>
</div>

<div id="main">

    %%* パンくずリスト *%%
    %% assign var=pageList value=['トップ' => "$SITE_URL", '会社概要' => ''] %%
    %% include file="Master/BreadCrumb.htm" pageList=$pageList %%

    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="title-page">会社概要</h1>
                <table class="table mb-5">
                    <tr>
                        <td style="width: 30%;">社名</td>
                        <td>%% $COMPANY.name %%（%% $COPYRIGHT %%）</td>
                    </tr>
                    <tr>
                        <td>代表取締役社長</td>
                        <td>%% $COMPANY.admin %%</td>
                    </tr>
                    <tr>
                        <td>設立</td>
                        <td>2021年5月</td>
                    </tr>
                    <tr>
                        <td>資本金</td>
                        <td>500万円</td>
                    </tr>
                    <tr>
                        <td>事業内容</td>
                        <td>
                            <h6>■環境循環型事業</h6>
                            <p class="mb-1">産廃される木材等の資源化、バイオマス発電･熱利用事業等を目的とした発電･熱供給事業会社へ供給販売</p>
                            <h6>■アグリ事業</h6>
                            <p class="mb-1">腐葉土の開発生産及び販売</p>
                            <h6>■物流事業</h6>
                            <p class="mb-1">資源となる木材・腐葉土等の収集及び運搬</p>
                        </td>
                    </tr>
                    <tr>
                        <td>メールアドレス</td>
                        <td>%% $COMPANY.mail %%</td>
                    </tr>
                    <tr>
                        <td>主取引銀行</td>
                        <td>りそな銀行 福生支店</td>
                    </tr>
                    <tr>
                        <td>グループ企業</td>
                        <td>
                            <ul class="list-unstyled">
                                <li>株式会社大進緑建<br><a href="https://www.daishin-rk.co.jp/" class="ml-3">https://www.daishin-rk.co.jp/</a></li>
                                <li>DRプランニング株式会社<br><a href="https://dsrk-planning.co.jp/" class="ml-3">https://dsrk-planning.co.jp/</a></li>
                                <li>エコ＆エコ株式会社<br><a href="https://eco-eco.biz/" class="ml-3">https://eco-eco.biz/</a></li>
                                <li>株式会社アイオーティー技研<br><a href="https://iotg.co.jp/" class="ml-3">http://iotg.co.jp/</a></li>
                            </ul>
                        </td>
                    </tr>
                </table>

                %%* 東京本社 *%%
                <h2 class="title-sub">東京本社</h2>
                <table class="table">
                    <tr>
                        <td>所在地</td>
                        <td>〒%% $COMPANY.zip %%<br>%% $COMPANY.address %% 9階A2室</td>
                    </tr>
                    <tr>
                        <td>TEL</td>
                        <td>%% $COMPANY.tel %%</td>
                    </tr>
                    <tr>
                        <td>FAX</td>
                        <td>%% $COMPANY.fax %%</td>
                    </tr>
                </table>
                <div class="col-sm-12 mb-5" data-anijs="if: scroll, on:window, do: zoomInRight animated, before: scrollReveal">
                    <div id="map">
                        <iframe src="https://maps.google.co.jp/maps?&output=embed&q=%% $COMPANY.address %%"></iframe>
                    </div>
                </div>

                %%* 新宿オフィス *%%
                <h2 class="title-sub">新宿オフィス新宿オフィス新宿オフィス</h2>
                <table class="table">
                    <tr>
                        <td>所在地</td>
                        <td>〒160-0021<br>東京都新宿区歌舞伎町1-1-19 同栄新宿ビル6階</td>
                    </tr>
                    <tr>
                        <td>TEL</td>
                        <td>03-6265-9146</td>
                    </tr>
                    <tr>
                        <td>FAX</td>
                        <td>03-6265-9146</td>
                    </tr>
                </table>
                <div class="col-sm-12 mb-5" data-anijs="if: scroll, on:window, do: zoomInRight animated, before: scrollReveal">
                    <div id="map">
                        <iframe src="https://maps.google.co.jp/maps?&output=embed&q=東京都新宿区歌舞伎町1-1-19"></iframe>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
