%%* meta タグ書き換え *%%
<input type="hidden" name="metaTitle" value="%% $SITE_NAME %% | プライバシーポリシー">
<input type="hidden" name="metaDescription" value="プライバシーポリシー | %% $metaDescriptionMin %%">
<input type="hidden" name="metaKeywords" value="プライバシーポリシー,%% $metaKeywordsMin %%">

%%* ヘッダーバナー *%%
<div>%%* この div は重要なので削除しないこと！ *%%
    <div class="page-head-img" style="height: 40vh;">
        <div class="boxImage h-short" style="background-image: url('/images/top/internet2.jpg'); background-position: center top;"></div>
    </div>
</div>

<div id="main">

    %%* パンくずリスト *%%
    %% assign var=pageList value=['トップ' => "$SITE_URL", 'プライバシーポリシー' => ''] %%
    %% include file="Master/BreadCrumb.htm" pageList=$pageList %%

    <div class="container" id="privacy">
        <div class="row">
            <div class="col-12">
                <h1 class="title-page">プライバシーポリシー</h1>

                <h2 class="title-sub mt-3">個人情報保護方針</h2>
                <p>
                    %% $COMPANY.name %%（以下「当社」）は、
                    各種サービスにおいて、ユーザーよりお預かりした個人情報を保護し適切に取り扱うため、
                    以下の個人情報保護方針を定め、この方針に従った個人情報の適切な保護に努めます。
                </p>
                
                <dl>
                    <dt>1. 個人情報保護管理体制の確立</dt>
                    <dd>
                        当社は、事業活動においてお預かりした個人情報を保護するための管理体制を確立します。
                    </dd>

                    <dt>2. 個人情報の取得・利用・提供</dt>
                    <dd>
                        当社は、事業活動において個人情報を取得する際、事前に利用目的を特定します。
                        個人情報の利用および提供において適切に取り扱います。
                        また、法令等に基づかない目的外利用を禁止するとともに、そのための処置を講じます。
                        利用目的を超えて個人情報の取扱いを行う場合には、あらかじめご本人の同意を得ます。
                    </dd>

                    <dt>3．法令・規範の順守</dt>
                    <dd>
                        個人情報に関する法令・国が定める指針その他の規範を守ります。
                    </dd>

                    <dt>4．安全管理</dt>
                    <dd>
                        個人情報への不正アクセスや、個人情報の漏洩、紛失、破壊、改竄等に対して、合理的な防止並びに是正措置を行います。
                    </dd>

                    <dt>5．開示・苦情・相談への対応</dt>
                    <dd>
                        当社は、個人情報に関して当社が公表した手続きに基づいて本人から自己の情報の開示、訂正・追加・削除、
                        または利用、若しくは提供の拒否、並びに苦情および相談の申し出を受けた場合、
                        適切な本人確認を実施した上、速やかに対応します。
                    </dd>

                    <dt>6．個人情報保護の取組み</dt>
                    <dd>
                        個人情報の保護を適切に行うため、継続的にその取組みを見直し、改善します。
                    </dd>
                </dl>

                <h2 class="title-sub mt-4">個人情報の取扱いについて</h2>
                <dl>
                    <dt>1．個人情報の利用目的</dt>
                    <dd>
                        当社では以下の目的で個人情報を利用します。<br>
                        <ul>
                            <li>ユーザーの希望条件に応じた資料の送付とご提案</li>
                            <li>必要に応じたユーザーへのご連絡</li>
                            <li>メールマガジン等の情報配信</li>
                            <li>ログイン時における本人確認</li>
                            <li>当社が提供するWEBサイトを通じてのサービス提供</li>
                            <li>見積書作成等の目的による提携先企業への提供</li>
                            <li>統計分析、属性分析等によるWEBサイトの改善<br>（個人を識別できない形式に加工した上での利用）</li>
                        </ul>
                    </dd>
                    <dt>2. 個人情報処理の外部委託</dt>
                    <dd>
                        当社は、ユーザーとの取引やサービスを提供するために個人情報に関する取り扱いを外部に委託することがあります。
                        その場合、委託する個人情報の使用範囲は当該業務に必要かつ最小限の範囲に限定するものとします。
                    </dd>

                    <dt>3. 第三者への開示・提供</dt>
                    <dd>
                        当社は、「2. 個人情報処理の外部委託」に記載した外部委託先への提供の場合および以下のいずれかに該当する場合を除き、
                        個人情報を第三者へ開示又は提供しません。<br>
                        ・ユーザーご本人の同意がある場合<br>
                        ・統計的なデータなど本人を識別することができない状態で開示・提供する場合<br>
                        ・法令に基づき開示・提供を求められた場合<br>
                        ・人の生命、身体または財産の保護のために必要な場合であって、ユーザーの同意を得ることが困難である場合<br>
                        ・国または地方公共団体等が公的な事務を実施するうえで、協力する必要がある場合であって、
                        ユーザーの同意を得ることにより当該事務の遂行に支障を及ぼす恐れがある場合<br>
                    </dd>

                    <dt>4．個人情報の管理</dt>
                    <dd>
                        当社は、ユーザーからお預かりした個人情報に対しては、各種の脅威から守るために厳重なセキュリティ対策を講ずるとともに、
                        ネットワークおよびシステムを継続的に見直し、不正アクセス、情報の紛失、破壊、改ざん、漏洩を防止しております。
                        また、当社従業員に対しても、個人情報の保護の重要性と各人の役割を認識させるための教育を継続的に行っております。
                    </dd>

                    <dt>5．個人情報取扱いに関する窓口</dt>
                    <dd>
                        当社への個人情報に関する、利用目的の通知・開示の請求、内容の訂正・追加・削除または利用停止の要求、
                        その他個人情報の取扱いに関する相談・苦情などは、以下の連絡先までご連絡下さい。
                    </dd>

                    <dt>6．個人情報に関する連絡先</dt>
                    <dd>
                        %% $COMPANY.name %% 個人情報相談窓口<br>
                        メールアドレス：%% $COMPANY.mail %%<br>
                        <span>※フォームからのお問い合わせは<a href="/Contact/Contact" class="font-weight-bold">こちら</a></span>
                    </dd>
                </dl>

            </div>
        </div>
    </div>

</div>


