%%* meta タグ書き換え *%%
<input type="hidden" name="metaTitle" value="%% $SITE_NAME %% | サービス一覧">
<input type="hidden" name="metaKeywords" value="サービス一覧,%% $metaKeywordsMin %%">

%%* ヘッダーバナー *%%
<div>%%* この div は重要なので削除しないこと！ *%%
    <div class="page-head-img" style="height: 40vh;">
        <div class="boxImage h-short"
             style="background-image: url('/images/top/internet1.jpg'); background-position: center bottom;">
            <div class="boxText">
            </div>
        </div>
    </div>
</div>

<div id="main">

    %%* パンくずリスト *%%
    %% assign var=pageList value=['トップ' => "$SITE_URL", 'サービス一覧' => ''] %%
    %% include file="Master/BreadCrumb.htm" pageList=$pageList %%

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="title-page">サービス一覧</h1>

                <div class="row wv-card-list d-flex align-items-center justify-content-center my-5">
                    <div class="card-group" style="width: 100%;">
                        <div class="col-md-3 card-box" data-anijs="if: scroll, on:window, do: fadeInUp animated, before: scrollReveal">
                            <div class="card" style="height: 100%;">
                                <a href="Service/Goods">
                                    <div class="card-body">
                                        <h5 class="card-title">エコ商品販売</h5>
                                        <p class="card-text">NASA公認 空気浄化装置や除菌・脱臭機など、
                                            エコにこだわった商品を販売しています。</p>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="col-md-3 card-box" data-anijs="if: scroll, on:window, do: fadeInUp animated, before: scrollReveal">
                            <div class="card" style="height: 100%;">
                                <a href="Service/Estate">
                                    <div class="card-body">
                                        <h5 class="card-title">不動産活用</h5>
                                        <p class="card-text">土地・建物・周辺環境などを考慮して、
                                            多様な選択肢から最適な不動産活用の方法をご提案いたします。</p>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="col-md-3 card-box" data-anijs="if: scroll, on:window, do: fadeInUp animated, before: scrollReveal">
                            <div class="card" style="height: 100%;">
                                <a href="Service/Insurance">
                                    <div class="card-body">
                                        <h5 class="card-title">保険活用</h5>
                                        <p class="card-text">火災保険・生命保険についての導入サポートを行っています。</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 card-box" data-anijs="if: scroll, on:window, do: fadeInUp animated, before: scrollReveal">
                            <div class="card" style="height: 100%;">
                                <a href="Service/Media">
                                    <div class="card-body">
                                        <h5 class="card-title">メディア運営</h5>
                                        <p class="card-text">「モノ」づくりを頑張っている人たちを応援するためのマッチングサイトや、
                                            病気やアレルギーでお悩みの方々のため健康食品のサイトを運営しています。</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 card-box" data-anijs="if: scroll, on:window, do: fadeInUp animated, before: scrollReveal">
                            <div class="card" style="height: 100%;">
                                <a href="Service/Design">
                                    <div class="card-body">
                                        <h5 class="card-title">デザイン代行</h5>
                                        <p class="card-text">パンフレット・チラシ・POP・メニュー表などの
                                            販促・集客効果のあるデザインの作成を承っております。</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 card-box" data-anijs="if: scroll, on:window, do: fadeInUp animated, before: scrollReveal">
                            <div class="card" style="height: 100%;">
                                <a href="Service/Outsourcing">
                                    <div class="card-body">
                                        <h5 class="card-title">アウトソーシング事業</h5>
                                        <p class="card-text">経営方針や課題・業務内容など、詳細なヒアリングを行い、
                                            プロジェクトに最適なプランを提案をさせていただきます。</p>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="col-md-3 card-box" data-anijs="if: scroll, on:window, do: fadeInUp animated, before: scrollReveal">
                            <div class="card" style="height: 100%;">
                                <a href="Service/Consulting">
                                    <div class="card-body">
                                        <h5 class="card-title">コンサルティング</h5>
                                        <p class="card-text">
                                            補助金・助成金の申請代行、事務所家賃の見直し交渉など
                                            各種コンサルティングを行っています。</p>
                                    </div>
                                </a>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>

    %%* お問い合わせバナー *%%
    <div>%%* この div は重要なので削除しないこと！ *%%
        <div class="page-head-img contact-link" style="height: 40vh;">
            <div class="boxImage h-short" style="background-image: url('/images/top/bg8.jpg'); background-position: right center;">
                <div class="boxText">
                    <p>各種お問い合わせはこちら</p>
                    <p><a href="/Contact/Contact" class="btn btn-primary w-50">問い合わせる</a></p>
                </div>
            </div>
        </div>
    </div>

</div>
