%%* ヘッダーバナー *%%
%%* 外側の div は絶対に必要なので注意！ないと body.d-flex の影響でこの要素全体が表示されなくなる。
詳細は「CSS概要.txt - div の高さを height で指定しても高さがゼロになる問題」参照。*%%
<div>%%* この div は重要なので削除しないこと！ *%%
    <div class="page-head-img" style="height: 100vh;">
        <div class="boxImage" style="background-image: url('/images/top/banner_head1.jpg'); background-position: center center;">
            <div class="boxText">
                <p class="boxText-title">限りある資源と向き合い<br>循環型の新しい都市産業を目指す<br></p>
                <p class="boxText-catch">- 環境にも地域経済にも優しいエネルギー -</p>
                <br><br>
                <p class="detail">
                    廃木材を粉砕・チップ化して再生エネルギーとして活用しています。<br>
                    もう一度「活かす」ことが私たちの役目と考えます。</p>
            </div>
        </div>
    </div>
</div>

<div id="main">

    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-5">

                <h1 class="title-page mb-5">リサイクル事業</h1>

                %%* リサイクル事業 *%%
                <section>
                    <div class="row box-service">
                        <div class="offset-md-2 col-md-8 lead" data-anijs="if: scroll, on:window, do: fadeInLeft animated, before: scrollReveal">
                            <p>廃木材を粉砕・チップ化してバイオマス発電や農耕地の土質改良・堆肥製造の原料として活用しています。
                                限りある資源と向き合いながら「循環型」の新しい都市産業を目指します。
                                廃木材として焼却してしまうのではなく、もう一度「活かす」ことが私たちの役目と考えます。</p>
                        </div>
                    </div>
                </section>

                %%* 各発生材受け入れ *%%
                <section>
                    <div class="row box-service">
                        <div class="col-md-6" data-anijs="if: scroll, on:window, do: fadeInLeft animated, before: scrollReveal">
                            <figure class="d-flex align-items-center justify-content-center">
                                <img src="/images/service/biomass/haul1.jpg"
                                     class="w-75" alt="発生材受け入れ"></figure>
                        </div>
                        <div class="col-md-6" data-anijs="if: scroll, on:window, do: fadeInRight animated, before: scrollReveal">
                            <h2 class="title-sub">受け入れ・現場引取り</h2>
                            <p class="detail">焼却処分されていた剪定・伐採木・草・根株・竹を受け入れています。
                                お持ち込みいただいた各木材や枝葉はトラックごと台貫による計量を行います。（立米計量も可能です。）
                                アームロールによる引き取りも行っております。</p>
                        </div>
                    </div>
                </section>

                %%* 引き取り・コンテナ設置 *%%
                <section>
                    <div class="row box-service">
                        <div class="col-md-6" data-anijs="if: scroll, on:window, do: fadeInLeft animated, before: scrollReveal">
                            <h2 class="title-sub">引き取り・コンテナ設置</h2>
                            <p class="detail">
                                リサイクル事業部専用車両での現地引き取り作業も行います。
                                コンテナサイズも豊富に用意してありますので現場に合ったサイズをお選びいただけます。
                                （設置もおこなっております。）
                            </p>
                        </div>
                        <div class="col-md-6" data-anijs="if: scroll, on:window, do: fadeInRight animated, before: scrollReveal">
                            <figure class="d-flex align-items-center justify-content-center">
                                <img src="/images/service/biomass/container1.jpg"
                                     class="w-75" alt="引き取り・コンテナ設置"></figure>
                        </div>
                    </div>
                </section>

                %%* チップ運搬、その他 *%%
                <section>
                    <div class="row box-service">
                        <div class="col-md-6" data-anijs="if: scroll, on:window, do: fadeInLeft animated, before: scrollReveal">
                            <figure class="d-flex align-items-center justify-content-center">
                                <img src="/images/service/biomass/truck2.jpg" class="w-75"
                                     alt="チップ運搬、その他"></figure>
                        </div>
                        <div class="col-md-6" data-anijs="if: scroll, on:window, do: fadeInRight animated, before: scrollReveal">
                            <h2 class="title-sub">チップ運搬、その他</h2>
                            <p class="detail">
                                弊社はバイオマス燃料以外にも農園・個人畑での土壌改良肥料として使用してもらい
                                大変ご好評頂いております。配達・運搬行っておりますのでお気軽にお問い合わせください。
                            </p>
                        </div>
                    </div>
                </section>

                <p style="margin-bottom: 200px;"><a href="/Service/Biomass"
                                                    class="btn btn-block btn-primary">サービスの流れを見る</a></p>

                %%* ニュース *%%
                <section>
                    <h1 class="title-page">ニュース</h1>
                    <ul class="list-group list-group-flush">
                         %% foreach from=$dataNews key=key item=val %%
                            <li class="list-group-item">
                                <a href="?p=News/Detail&id=%% $val.id %%">
                                    %% $val.openTime|date_format_ex:false %%
                                    %% if $val.openTime|strtotime > $smarty.now-24*60*60*10 %%
                                        <span class="mark-status-active">NEW</span>
                                    %% /if %%
                                    %% $val.title %%
                                </a>
                            </li>
                        %% /foreach %%
                    </ul>
                </section>
                %% if $dataNews|@count > 3 %%
                    <a href="?p=News/List" class="btn btn-block btn-outline-secondary">もっとみる</a>
                %% /if %%

            </div>
        </div>
    </div>
    <div class="vspace20"></div>

    %%* お問い合わせバナー *%%
    <div>%%* この div は重要なので削除しないこと！ *%%
        <div class="page-head-img contact-link" style="height: 40vh;"
             data-anijs="if: scroll, on:window, do: fadeInUp animated, before: scrollReveal">
            <div class="boxImage h-short" style="background-image: url('/images/top/bg8.jpg'); background-position: center center;">
                <div class="boxText">
                    <p>各種お問い合わせはこちら</p>
                    <p><a href="/Contact/Contact" class="btn btn-primary w-50">問い合わせる</a></p>
                </div>
            </div>
        </div>
    </div>

</div>

