<div class="container mb-5">
    <div class="row">
        <div class="col-12">
            <nav aria-label="%% $SITE_NAME %%">
                <ol class="breadcrumb mb-0">
                    %% foreach from=$pageList key=key item=val name=link %%
                        %% if $smarty.foreach.link.last %%
                            <li class="breadcrumb-item active" aria-current="page">%% $key %%</li>
                        %% else %%
                            <li class="breadcrumb-item"><a href="%% $val %%">%% $key %%</a></li>
                        %% /if %%
                    %% /foreach %%
                </ol>
            </nav>
        </div>
    </div>
</div>