%% if $SCREEN_SIZE === 'small' %%
    <footer class="footer mt-auto">
        <div class="row no-gutters">
            <div class="col-12">
                <ul class="list-group">
                    <li class="list-group-item">
                        <a href="/">
                            <div class="d-flex justify-content-between align-items-center">
                                <span><img src="/images/common/logo_400.png" alt="%% $SITE_NAME %%" style="max-width: 120px;"></span>
                                <span></span>
                            </div>
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="/About">
                            <div class="d-flex justify-content-between align-items-center">
                                <span>会社概要</span><span class="fas fa-angle-right pr-1"></span>
                            </div>
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="/Contact/Contact">
                            <div class="d-flex justify-content-between align-items-center">
                                <span>お問い合わせ</span><i class="fas fa-angle-right pr-1"></i>
                            </div>
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="/Service">
                            <div class="d-flex justify-content-between align-items-center">
                                <span>サービス</span><i class="fas fa-angle-right pr-1"></i>
                            </div>
                        </a>
                    </li>
                    %%*<li class="list-group-item">
                        <a href="/News/List">
                            <div class="d-flex justify-content-between align-items-center">
                                <span>ニュース</span>
                                <i class="fas fa-angle-right pr-1"></i>
                            </div>
                        </a>
                    </li>*%%
                    <li class="list-group-item">
                        <a href="/Privacy">
                            <div class="d-flex justify-content-between align-items-center">
                                <span>プライバシーポリシー</span>
                                <i class="fas fa-angle-right pr-1"></i>
                            </div>
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="/Security">
                            <div class="d-flex justify-content-between align-items-center">
                                <span>セキュリティーポリシー</span>
                                <i class="fas fa-angle-right pr-1"></i>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            %%* コピーライト *%%
            <div class="col-12 text-center mt-3">
                <p class="copyright"><i class="far fa-copyright"></i>%% $COPYRIGHT %%</p>
            </div>
        </div>
    </footer>
%% else %%
    <footer class="footer mt-auto my-5">
        <div class="container">
            <div class="row mt-5 footerMenu">
                %%* 固定メニュー *%%
                <div class="col-4">
                    <a href="%% $SITE_URL %%" class="navbar-brand">
                        <img src="/images/common/logo_400.png" alt="%% $SITE_NAME %%" style="max-width: 200px;"></a>
                    <ul class="list-unstyled">
                        <li><a href="/About">会社概要</a></li>
                        <li><a href="/Contact/Contact">お問い合わせ</a></li>
                        <li><a href="/Privacy">プライバシーポリシー</a></li>
                        <li><a href="/Security">セキュリティーポリシー</a></li>
                    </ul>
                </div>

                <div class="col-4">
                    <ul class="list-unstyled">
                        <li><a href="/Service/Goods">サービス</a></li>
                    </ul>
                </div>

                <div class="col-4">
                    <ul class="list-unstyled">
                        <li><a href="/Service/Respr">XXXXXXX</a></li>
                    </ul>
                </div>
            </div>
            <div class="row text-center mt-5">
                <div class="col-12">
                    <p class="copyright"><i class="far fa-copyright"></i>%% $COPYRIGHT %%</p>
                </div>
            </div>
        </div>
    </footer>
%% /if %%



