%% if $SCREEN_SIZE === 'small' %%
    <footer class="footer mt-auto">
        <div class="row no-gutters">
            <div class="col-12">
                <ul class="list-group">
                    <li class="list-group-item">
                        <a href="/">
                            <div class="d-flex justify-content-between align-items-center">
                                <span><img src="/images/common/logo_400.png" alt="%% $SITE_NAME %%" style="max-width: 120px;"></span>
                                <span></span>
                            </div>
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="/About">
                            <div class="d-flex justify-content-between align-items-center">
                                <span>会社概要</span><span class="fas fa-angle-right pr-1"></span>
                            </div>
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="/Contact/Contact">
                            <div class="d-flex justify-content-between align-items-center">
                                <span>お問い合わせ</span><i class="fas fa-angle-right pr-1"></i>
                            </div>
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="/Service">
                            <div class="d-flex justify-content-between align-items-center">
                                <span>サービス一覧</span><i class="fas fa-angle-right pr-1"></i>
                            </div>
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="/Service/Goods">
                            <div class="d-flex justify-content-between align-items-center">
                                <span>エコ商品販売</span><i class="fas fa-angle-right pr-1"></i>
                            </div>
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="/Service/Insurance">
                            <div class="d-flex justify-content-between align-items-center">
                                <span>保険活用</span><i class="fas fa-angle-right pr-1"></i>
                            </div>
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="/Service/Estate">
                            <div class="d-flex justify-content-between align-items-center">
                                <span>不動産活用</span><i class="fas fa-angle-right pr-1"></i>
                            </div>
                        </a>
                    </li>

                    <li class="list-group-item">
                        <a href="/Service/Media">
                            <div class="d-flex justify-content-between align-items-center">
                                <span>メディア運営</span><i class="fas fa-angle-right pr-1"></i>
                            </div>
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="/Service/Design">
                            <div class="d-flex justify-content-between align-items-center">
                                <span>デザイン代行</span><i class="fas fa-angle-right pr-1"></i>
                            </div>
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="/Service/Outsourcing">
                            <div class="d-flex justify-content-between align-items-center">
                                <span>アウトソーシング</span><i class="fas fa-angle-right pr-1"></i>
                            </div>
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="/Service/Consulting">
                            <div class="d-flex justify-content-between align-items-center">
                                <span>コンサルティング</span><i class="fas fa-angle-right pr-1"></i>
                            </div>
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="/Service/Respr">
                            <div class="d-flex justify-content-between align-items-center">
                                <span>空気浄化装置ReSPR</span><i class="fas fa-angle-right pr-1"></i>
                            </div>
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="/Service/Turnedk">
                            <div class="d-flex justify-content-between align-items-center">
                                <span>除菌・脱臭機ターンドケイ</span><i class="fas fa-angle-right pr-1"></i>
                            </div>
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="/Service/FrozenEel">
                            <div class="d-flex justify-content-between align-items-center">
                                <span>冷凍焼き付けうなぎ</span><i class="fas fa-angle-right pr-1"></i>
                            </div>
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="/Service/FrozenAvocado">
                            <div class="d-flex justify-content-between align-items-center">
                                <span>冷凍アボカド</span><i class="fas fa-angle-right pr-1"></i>
                            </div>
                        </a>
                    </li>
                    %%*<li class="list-group-item">
                        <a href="/News/List">
                            <div class="d-flex justify-content-between align-items-center">
                                <span>ニュース</span>
                                <i class="fas fa-angle-right pr-1"></i>
                            </div>
                        </a>
                    </li>*%%
                    <li class="list-group-item">
                        <a href="/Privacy">
                            <div class="d-flex justify-content-between align-items-center">
                                <span>プライバシーポリシー</span>
                                <i class="fas fa-angle-right pr-1"></i>
                            </div>
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="/Security">
                            <div class="d-flex justify-content-between align-items-center">
                                <span>セキュリティーポリシー</span>
                                <i class="fas fa-angle-right pr-1"></i>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            %%* コピーライト *%%
            <div class="col-12 text-center mt-3">
                <p class="copyright"><i class="far fa-copyright"></i>%% $COPYRIGHT %%</p>
            </div>
        </div>
    </footer>
%% else %%
    <footer class="footer mt-auto my-5">
        <div class="container">
            <div class="row mt-5 footerMenu">
                %%* 固定メニュー *%%
                <div class="col-4">
                    <a href="%% $SITE_URL %%" class="navbar-brand">
                        <img src="/images/common/logo_400.png" alt="%% $SITE_NAME %%" style="max-width: 200px;"></a>
                    <ul class="list-unstyled">
                        <li><a href="/About">会社概要</a></li>
                        <li><a href="/Contact/Contact">お問い合わせ</a></li>
                        <li><a href="/Privacy">プライバシーポリシー</a></li>
                        <li><a href="/Security">セキュリティーポリシー</a></li>
                        <li><a href="/Service">サービス一覧</a></li>
                    </ul>
                </div>

                <div class="col-4">
                    <ul class="list-unstyled">
                        <li><a href="/Service/Goods">エコ商品販売</a></li>
                        <li><a href="/Service/Insurance">保険活用</a></li>
                        <li><a href="/Service/Estate">不動産活用</a></li>
                        <li><a href="/Service/Media">メディア運営</a></li>
                        <li><a href="/Service/Design">デザイン代行</a></li>
                        <li><a href="/Service/Outsourcing">アウトソーシング</a></li>
                        <li><a href="/Service/Consulting">コンサルティング</a></li>
                    </ul>
                </div>

                <div class="col-4">
                    <ul class="list-unstyled">
                        <li><a href="/Service/Respr">空気浄化装置ReSPR</a></li>
                        <li><a href="/Service/Turnedk">除菌・脱臭機ターンドケイ</a></li>
                        <li><a href="/Service/FrozenEel">冷凍焼き付けうなぎ</a></li>
                        <li><a href="/Service/FrozenAvocado">冷凍アボカド</a></li>
                    </ul>
                </div>
            </div>
            <div class="row text-center mt-5">
                <div class="col-12">
                    <p class="copyright"><i class="far fa-copyright"></i>%% $COPYRIGHT %%</p>
                </div>
            </div>
        </div>
    </footer>
%% /if %%



