<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="format-detection" content="telephone=no">

    %%* METAタグ *%%
    %%* ここではデフォルト設定して各ページ先頭でJS書き換えする。 *%%
    %% assign var=metaTitle value="`$SITE_NAME` | `$SITE_CATCH`" %%
    %% assign var=metaDescription value="「`$SITE_NAME`」は廃木材を粉砕・チップ化してバイオマス発電や農耕地の土質改良・堆肥製造の原料として活用しています。 限りある資源と向き合いながら「循環型」の新しい都市産業を目指します。" %%
    %% assign var=metaDescriptionMin scope=parent value="「`$SITE_NAME`」は廃木材を粉砕・チップ化してバイオマス発電や農耕地の土質改良・堆肥製造の原料として活用しています。" %%
    %% assign var=metaKeyword value="バイオマス発電,再生可能エネルギー,一般廃棄物,産業廃棄物,発電燃料,堆肥原料,木質チップ,堆肥の生産,土木工事,建築工事,造園・緑地化,農林水産物,熱利用事業等,省エネ商材" %%
    %% assign var=metaKeywordsMin scope=parent value="バイオマス発電,再生可能エネルギー,一般廃棄物,産業廃棄物,発電燃料,堆肥原料,木質チップ,堆肥の生産,土木工事,建築工事,造園・緑地化,農林水産物,熱利用事業等,省エネ商材" %%
    %% assign var=metaImage value="`$SITE_URL`images/apple-touch-icon.png" %%

    <title>%% $metaTitle %%</title>
    <meta name="description" content="%% $metaDescription %%">
    <meta name="keywords" content="%% $metaKeywords %%">

    %%* OGPタグ *%%
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="%% $SITE_NAME %%">
    <meta property="og:title" content="%% $metaTitle %%">
    <meta property="og:description" content="%% $metaDescription %%">
    <meta property="og:url" content="%% $SITE_URL %%%% $pageName %%">
    <meta property="og:image" content="%% $metaImage %%">

    %%* SEO対策 *%%
    <link rel="index" href="/" title="%% $SITE_NAME %%">
    %%* 重複コンテンツ除外・URL正規化は各ページで書き換え *%%
    <link rel="canonical" href="%% $SITE_URL %%%% $pageName %%">

    %%* favicon *%%
    <link rel="shortcut icon" href="/images/favicon.png">
    <link rel="apple-touch-icon" href="/images/apple-touch-icon.png">

    %%* CSS *%%
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css">
    <link rel="stylesheet" href="https://anijs.github.io/lib/anicollection/anicollection.css">
    %% if $WV_DEBUG %%
        <link rel="stylesheet" href="/css/custom.css?upd=%% $smarty.now|date_format:"%Y%m%d%H" %%">
        <link rel="stylesheet" href="/css/main.css?upd=%% $smarty.now|date_format:"%Y%m%d%H%M%S" %%">
    %% else %%
        <link rel="stylesheet" href="/css/custom.css">
        <link rel="stylesheet" href="/css/main.css">
    %% /if %%

    %%* Google Tag Manager *%%
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-5HQSN45');
    </script>

</head>

