<!DOCTYPE html>
<html lang="ja" class="h-100" prefix="og: http://ogp.me/ns#">
%%* HEADタグ *%%
%% include file = "`$masterPage.head`.htm" %%
<body class="d-flex flex-column h-100">

%%* Google Tag Manager (noscript) *%%
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5HQSN45"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
%%* body 直下最初の画像（外部サイト参照用） *%%
<div class="d-none"><img src="%% $SITE_URL %%images/icon.png" alt="%% $SITE_NAME %%"></div>
%%* モーダル背景 *%%
%%*<div class="wv-modal-back"></div>*%%
%%* ローディング *%%
%%*<div id="loading">
    <figure><img src="/images/loading.gif"></figure>
</div>*%%

%%* ヘッダ *%%
%% include file = "`$masterPage.header`.htm" %%
%%* デバッグ *%%
%%* %% include file = "`$masterPage.debug`.htm" %% *%%

%%* インラインメッセージ *%%
%% include file = "`$masterPage.message`.htm" %%
%%* ダイアログメッセージ *%%
%% include file = 'Master/DlgMessage.htm' %%

%%* ページ別コンテンツ *%%
%% if !$MASTER_MESSAGE.message.error %%
    %% include file = $PAGE_MAIN_PATH %%
%% /if %%

%%* フッタ *%%
%% include file = "`$masterPage.footer`.htm" %%

%%* JS *%%
%% include file = 'Master/Script.htm' %%
</body>
</html>