%%* meta タグ書き換え *%%
<input type="hidden" name="metaRobots" value="noindex">

<div class="container">
	<div class="row">
		<div class="col-12">
			<h1 class="title-page">エラー</h1>
            <p>エラーが発生しました。</p>
            <p class="mb-4">誠に申し訳ありませんが、このエラーが解消されない場合は、問合せよりご連絡下さいませ。</p>

            <p class="mb-4"><a href="/Contact/Contact" class="btn btn-outline-secondary">問合せへ</a></p>

            <p>※問合せにアクセスできない場合は、%% $COMPANY.mail %% に直接メールでお問い合わせ下さいませ。</p>
        </div>
	</div>
</div>

