%%* meta タグ書き換え *%%
<input type="hidden" name="metaRobots" value="noindex">

<div class="container">
    <div class="row">
        <div class="col-12">
        <h1 class="title-page">セッション切れ</h1>
        <div class="box-caution">
            <p>このページは、一定時間アクセスがなかった場合に表示されます。</p>
            <p>大変ご迷惑をお掛けしておりますが、ご理解いただけますようお願い申し上げます。</p>
            <div class="vspace20"></div>
            <p>下記よりアプリにお戻り下さい。</p>
        </div>
        <div class="vspace20"></div>
        <div>
            <a href="%% $SITE_URL %%" class="btn btn-block btn-primary width-half-center">トップへ</a>
        </div>
    </div>
</div>

